.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.card-content .card-title .material-icons {
	font-size: 0.7em;
}

.container .login{
	display: inlineBlock; 
	padding: 32px 48px 0px 48px; 
	border: 1px solid #EEE;
}

.container .signUp{
	display: inline-block;
	padding: 32px 48px 0px 48px;
	border: 1px solid #EEE;
}